<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/imgs/LojasNossoLar.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/Rack JCM Luz Noronha até 56/Rack JCM Luz Noronha Off White até 56.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Serif:wght@400&display=swap" rel="stylesheet">
    <title>Lojas Nosso Lar</title>
</head>
<body>

  <div class="containerPrincipal text-center ">
    <header>
      <img src="/imgs/Rack JCM Luz Noronha até 56/logo.png" class="img-fluid logo" alt="Logo Lojas Nosso Lar">
      <h1>Rack JCM Luz</h1>
      <p class = "TextHeader">Projetado para TVs de até 56 polegadas!</p>
      <p class = "TextCores">Disponível nas cores Noronha/Off White e Noronha/Grafite</p>
      <img class="Top" id="rackImage" src="/imgs/Rack JCM Luz Noronha até 56/SomenteORack.png" class="img-fluid" alt="Rack Luz Noronha">
    </header>
  </div>

  <div class="containerInicial">
    <div class="row">
      <div class="col-md-6 img-Principal">
        <img src="/imgs/Rack JCM Luz Noronha até 56/Principal.png" class="img-fluid Principal" alt="Rack Luz Noronha ">
      </div>    
      <div class="col-md-6 custom-align">
        <strong class="tittleP">Design e Estrutura</strong>
        <p class="pText">
          Confeccionado em MDP, o rack possui um tampo robusto de 30mm, proporcionando estabilidade e resistência. Os pés metálicos conferem um toque moderno, além de garantirem durabilidade.
        </p>
        <strong class="tittleP">Portas e Vidros</strong>
        <p class="pText">A porta em vidro temperado não apenas protege seus dispositivos eletrônicos, mas também adiciona um elemento de elegância ao design. As portas, equipadas com dobradiças de pressão, proporcionam praticidade e segurança no acesso aos compartimentos internos.</p>
        <strong class="tittleP">Adega Decorativa</strong>
        <p class="pText">Uma característica exclusiva do Rack JCM Luz é a adega decorativa, que não apenas agrega charme ao móvel, mas também oferece espaço dedicado para armazenar suas bebidas favoritas.</p>
        <strong class="tittleP">Utilização Versátil</strong>
        <p class="pText">Além de ser um suporte para televisão, o Rack JCM Luz é ideal para servir de apoio a outros equipamentos de áudio e vídeo. Sua versatilidade permite que seja utilizado como aparador, proporcionando também espaço para objetos decorativos, livros e plantas.</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <p class="Dimensoes">Dimensões</p>
    <img class="medidas img-fluid" src="/imgs/Rack JCM Luz Noronha até 56/medidasRack.png" alt="Medidas Rack Luz Noronha ">
  </div>

  <div class="containerFinal ">
    <div class="col-md-6 custom-alignDois">
      <strong class="titleP2">Detalhes Técnicos</strong>
      <p class="pText2">
        Quantidade de Compartimentos: 12 <br>
        Tipo de Puxadores: Não possui<br>
        Tipo de Pés: Metálicos<br>
        <a class="Pdf" href="https://github.com/claysonAlves12/VercelTest/raw/main/src/public/pdfs/Rack%20JCM%20Luz%20Noronha%20Off%20White%20at%C3%A9%2056/Rack%20JCM%20Luz%20at%C3%A9%2056.pdf" download="Rack JCM Luz.pdf" class="btn btn-primary">Baixe o Manual</a>
      </p>
      <p class="highlight-text">
        Adquira o Rack JCM Luz e leve a experiência de entretenimento em sua casa, unindo funcionalidade, elegância e versatilidade em um único móvel.
       </p>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    var originalImage = "/imgs/Rack JCM Luz Noronha até 56/SomenteORack.png";
    var alternateImage = "/imgs/Rack JCM Luz Noronha até 56/SomenteORack-Noronha-Grafite.png";
    var currentImage = originalImage;

    function changeImage() {
      var rackImage = document.getElementById("rackImage");
      if (currentImage === originalImage) {
        currentImage = alternateImage;
      } else {
        currentImage = originalImage;
      }
      rackImage.src = currentImage;
    }

    var rackImage = document.getElementById("rackImage");

    // Mouseover event
    rackImage.addEventListener("mouseover", function() {
      currentImage = alternateImage;
      rackImage.src = currentImage;
    });

    // Mouseout event
    rackImage.addEventListener("mouseout", function() {
      currentImage = originalImage;
      rackImage.src = currentImage;
    });

    // Click event
    rackImage.addEventListener("click", function() {
      changeImage();
    });
  </script>

</body>
</html>
