*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'open sans' ,sans-serif;
}

.title{
    text-align: center;
}

.title h1{
 font-weight: 700;
 font-size:22px ;
 color:#7A7A7A ;
}

.title p, #videosComTutoriais p{
   font-size: 30px;
   font-weight: 700;
   color: #6C6D6D; 
   
}

.line_pagar{
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.passo_pagar{
    margin-top: 20px;
}

.count-number{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #8C8E91;
}

.description_pagar{
    font-family:  "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    text-align: left;
    color: #5498FD;
    max-width: 500px;
    padding: 10px;
}

#videosComTutoriais{
   text-align: center;
   margin-top: 80px;
}

#videosComTutoriais h1{
 font-weight: 700;
 font-size:22px ;
 color:#7A7A7A ; 
 margin-bottom:20px;
}

.tutoriais{
    position: relative;
}

.tutoriais p{
    transition: .4s;
    margin: -20px;
    padding: 5px;
}

.tutoriais img {
    position: flex;
    margin-left: 10px;
}

.videoIframe {
    width: 0px;
    height: 0px;
    transition: .4s;
    overflow: hidden;
    opacity: 0;
}

.tutoriais.active p{
    margin: 0;
}

.tutoriais.active .videoIframe {
    width: 900px;
    height: 500px;
    opacity: 1;
}

@media screen and (min-width: 800px) and (max-width:1200px){
    .passo_pagar img{
        width: 100%;
        height: auto;
    }

    .tutoriais img{
        width: 5%;
        height: auto;
    }

    
    .tutoriais.active .videoIframe {
        width: 700px;
        height: 400px;
    }

}

@media screen and (min-width: 600px) and (max-width:800px){
    .passo_pagar img{
        width: 100%;
        height: auto;
    }



    .title p, #videosComTutoriais p{
        font-size: 25px; 
          
    }

    .tutoriais{
        padding: 0px;
    }

    .tutoriais.active .videoIframe {
        width: 500px;
        height: 400px;
    }

}

@media screen and (min-width: 0px) and (max-width:600px){
    .passo_pagar img{
        width: 100%;
        height: auto;
    }

    .description_pagar{
        font-size: 25px;
    }

    .title h1,#videosComTutoriais h1{
        font-size:30px ;
    }
       
    .title p, #videosComTutoriais p{
        font-size: 25px; 
    }

    #videosComTutoriais{
        margin-top: 40px;
    }
   
    .tutoriais.active .videoIframe {
        width: 400px;
        height: 200px;
        opacity: 1;
    }
}








